body {display: flex;
    flex-wrap: wrap;
}

* {margin: 0;
box-sizing: border-box;}

.esq {position: sticky; 
top: 0%;
display: flex;
flex-direction: column;
background: rgb(0, 0, 0, 0.04);
height: 100vh;
width: 22%;
text-align: center;
align-items: center;
list-style: none;
padding-top: 300px;
}

#home {color: black;
transition: 0.3s ease;
text-decoration: underline;}

#autor {position: absolute;
top: 45px;
width: 160px;
height: 160px;
object-fit: cover;
left: 21%;
border-radius: 50%;}

#nome {font-size: 23px;
color: rgb(0, 0, 0);
margin-top: -100px;
font-family: "Poppins", Arial, sans-serif;
padding: 12px 0;}

.nav {margin-top: 15px;}

.esqe {font-family: "Poppins", Arial, sans-serif;
padding: 10px 0;
text-decoration: none;
transition: 0.2s ease;
color: #5e5e5e;
font-size: 16px;
font-weight: bold;}

.esqe:hover {color: black;
transition: 0.3s ease;
text-decoration: underline;}

#letter {margin-top: 278px;
font-family: "Poppins", Arial, sans-serif;
font-size: 18px;
font-weight: 600;}

.letter {height: 52px;
width: 224px;
font-size: 14px;
font-weight: 400;
font-family: "Montserrat", arial, sans-serif;
border-color: #e7e7e7;
border-style: solid;
border-width: 0.5px;
}

.aviao {position: absolute;
height: 22px;
width: 22.03px;
fill: gray;
bottom: 55px;
left: 212px;}

#collection {color: black;
transition: 0.3s ease;
text-decoration: underline;}

.direita {width: 78%;
display: flex;
flex-direction: column;}

.mycollect {display: flex;
flex-direction: column;
background: #ccb78f;
height: 213.39px;
width: 100%;
}

h3 {font-family: "Poppins", Arial, sans-serif;
font-weight: 700;
line-height: 1.5;
font-size: 40px;
margin-left: 191px;
}

.head {display: flex;
flex-direction: row;
margin-left: 191px;
margin-top: 63px;
font-family: "Montserrat", Arial, sans-serif;
font-size: 13px;
letter-spacing: 1px;
font-weight: 500;
}

.collecthead {border-bottom: 2px solid rgba(0, 0, 0, 0.1);
color: black;
margin-left: 12px;
margin-bottom: 10px;
}

.homehead {border-bottom: 2px solid rgba(0, 0, 0, 0.1);
color: #00000080;
text-decoration: none;}

.fotos {display: flex;
flex-direction: column;
background-color: #ffffff;
height: 1180px;
width: 100%;
}

.fotoslist {display: flex;
flex-wrap: wrap;
justify-content: space-between;
list-style: none;
padding: 30px;
}

.listafotos {width: 31%;
margin-bottom: 30px;
}

.collectimg {width: 100%;
height: 250px;
object-fit: cover;
display: block;
}

.rodape {display: flex;
flex-wrap: wrap;
background-color: #242423;
height: 560.13px;
width: 78%;
margin-left: 22%;
align-items: center;
}

.container {display: flex;
height: 392.13px;
width: 1000 px;
padding-left: 2vh;
padding-top: 75px;
}

.recent {display: flex;
flex-direction: column;
width: 329px;
height: 302.94px;}

h8 {font-weight: 700;
letter-spacing: 3px;
font-family: "Poppins", Arial, sans-serif;
line-height: 1.5;
font-size: 16px;
color: white;
margin-left: 39px;}

.recentimg {margin-top: 40px;
    display: flex;
    flex-wrap:  wrap;
    width: 350px;
    height: 200px;
    list-style: none;
}

.recentimag {width: 100px;
height: 100px;
object-fit: cover;
}

.listardpimg {width: 100px;
height: 100px;} 

.archives {width: 329px;
    height: 302.94px;}

.datatxt {font-size: 14px;
font-family: "Montserrat", Arial, sans-serif;
text-decoration: none;
color: #999999;
line-height: 1.8;
font-weight: 500;
padding: 5px 0;
}

.datalist {list-style: none;
    margin-bottom: 20px;
    margin-top: 25px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.datatxt span {
color: #ccc;
float: right;
}

.questiontxt2 {color: white;}

.questionlist {margin-left: 25px;
margin-top: 25px;}

.location {width: 20px;
height: 20px;
fill: white;
margin-top: 2px;
position: absolute;}

.telephone {width: 20px;
height: 20px;
fill: white;
margin-top: 78px;
position: absolute;}

.mail {width: 20px;
height: 20px;
fill: white;
margin-top: 129px;
position: absolute;}

.questionstab {list-style: none;}

.copyright {padding-left: 50px;
padding-bottom: 91px;}

.heart {width: 20px;
height: 20px;
fill: #999999;}

