body {display: flex;
    flex-wrap: wrap;
}

* {margin: 0;
box-sizing: border-box;}

.esq {position: sticky; 
top: 0%;
display: flex;
flex-direction: column;
background: rgb(0, 0, 0, 0.04);
height: 100vh;
width: 22%;
text-align: center;
align-items: center;
list-style: none;
padding-top: 300px;
}

#home {color: black;
transition: 0.3s ease;
text-decoration: underline;}

#autor {position: absolute;
top: 45px;
width: 160px;
height: 160px;
object-fit: cover;
left: 21%;
border-radius: 50%;}

#nome {font-size: 23px;
color: rgb(0, 0, 0);
margin-top: -100px;
font-family: "Poppins", Arial, sans-serif;
padding: 12px 0;}

.nav {margin-top: 15px;}

.esqe {font-family: "Poppins", Arial, sans-serif;
padding: 10px 0;
text-decoration: none;
transition: 0.2s ease;
color: #5e5e5e;
font-size: 16px;
font-weight: bold;}

.esqe:hover {color: black;
transition: 0.3s ease;
text-decoration: underline;}

#letter {margin-top: 278px;
font-family: "Poppins", Arial, sans-serif;
font-size: 18px;
font-weight: 600;}

.letter {height: 52px;
width: 224px;
font-size: 14px;
font-weight: 400;
font-family: "Montserrat", arial, sans-serif;
border-color: rgb(0, 0, 0, 0.04);
border-style: solid;
border-width: 0.5px;
}

.dir {display: flex;
background: rgb(245, 245, 245);
height: 100vh;
width: 78%;}

.imagem-meio {height: 963px;
width: 740px;   
object-fit: cover;}

.aviao {position: absolute;
height: 22px;
width: 22.03px;
fill: gray;
bottom: 56px;
left: 210px;}

.textos {display: flex;
flex-direction: column;}

Span {letter-spacing: 1px;
    color: #ccb78f;}

h3 {font-family: "Poppins", Arial, sans-serif;
    font-size: 2.5rem;
    margin-top: 279px;
    margin-left: 45px;
}    

p {font-family: "Montserrat", Arial, sans-serif;
    font-size: 15px;
    line-height: 1.8;
    font-weight: 500;
    color: #999999;
    font-size: 18px;
    font-weight: 500;
    margin-left: 45px;
    margin-top: 21px;}

h4 {font-family: "Poppins", Arial, sans-serif;
position: absolute;
top: 227px;
left: 1163px;
color: #ededed;
font-size: 70px;
line-height: 1;}

h5 {font-size: 24px;
color: #bfbfbf;
font-weight: 400;
font-family: "Montserrat", Arial, sans-serif;
position: absolute;
left: 1210px;
top: 230px;}

h6 {font-family: "Herr Von Muellerhoff", cursive;
font-size: 40px;
font-weight: 400;
margin-left: 45px;
margin-top: 29px;}

.redes {height: 30px;
width: 30px;
margin-top: 26px;
margin-left: 30px;
}

.twitter {margin-left: 59px;
}

.follow {display: flex;
    align-items: start;
    justify-content: start;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #ffffff;
    height: 422px;
    width: 1489px;
    margin-left: 22%;
}

.followinsta {margin-top: 75px;
margin-left: 40%;
font-size: 16px;
font-weight: 700;
letter-spacing: 3px;
font-family: "Poppins", Arial, sans-serif;
line-height: 1.5;
font-size: 16px;
color:#5e5e5e}

.followimg {display: flex;
margin-left: 187px;
margin-top: 47px;
}

.followimg img {
    height: 200px;
    width: 220px;
    object-fit: cover;
}

.rodape {display: flex;
flex-wrap: wrap;
background-color: #242423;
height: 560.13px;
width: 1489px;
margin-left: 22%;
align-items: center;
}

.container {display: flex;
height: 392.13px;
width: 1486px;
padding-right: 48px;
padding-left: 245px;
padding-top: 75px;
}

.recent {display: flex;
flex-direction: column;
width: 329px;
height: 302.94px;}

h8 {font-weight: 700;
letter-spacing: 3px;
font-family: "Poppins", Arial, sans-serif;
line-height: 1.5;
font-size: 16px;
color: white;
margin-left: 39px;}

.recentimg {margin-top: 40px;
    display: flex;
    flex-wrap:  wrap;
    width: 350px;
    height: 200px;
    list-style: none;
}

.recentimag {width: 100px;
height: 100px;
object-fit: cover;
}

.listardpimg {width: 100px;
height: 100px;} 

.archives {width: 329px;
    height: 302.94px;}

.datatxt {font-size: 14px;
font-family: "Montserrat", Arial, sans-serif;
text-decoration: none;
color: #999999;
line-height: 1.8;
font-weight: 500;
padding: 5px 0;
}

.datalist {list-style: none;
    margin-bottom: 20px;
    margin-top: 25px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.datatxt span {margin-left: 150px;
color: #ccc;
float: right;
}

.questiontxt2 {color: white;}

.questionlist {margin-left: 36px;
margin-top: 25px;}

.location {width: 20px;
height: 20px;
fill: white;
margin-top: 2px;
position: absolute;}

.telephone {width: 20px;
height: 20px;
fill: white;
margin-top: 78px;
position: absolute;}

.mail {width: 20px;
height: 20px;
fill: white;
margin-top: 129px;
position: absolute;}

.questionstab {list-style: none;}

.copyright {padding-left: 250px;
padding-bottom: 100px;}

.heart {width: 20px;
height: 20px;
fill: #999999;}

